@using System.Text.Json;
@using FantaxyWebApplication.Models.Entities;

@inject IHttpContextAccessor HttpContextAccessor
@{
    var json = HttpContextAccessor.HttpContext.Request.Cookies["UserInfo"];
    int? IdPlanet = HttpContextAccessor.HttpContext.Session.GetInt("PlanetId");
    var json2 = HttpContextAccessor.HttpContext.Request.Cookies[$"Planet_{IdPlanet}"];
    var json3 = HttpContextAccessor.HttpContext.Request.Cookies[$"Profile_{IdPlanet}"];

    UserModel? userModel = JsonSerializer.Deserialize<UserModel>(json);
    UserModel? profilePlanet = JsonSerializer.Deserialize<UserModel>(json3);

    PlanetInfo planetInfo = JsonSerializer.Deserialize<PlanetInfo>(json2);

    string? main = planetInfo?.MainBackground.Replace("\\", "/");
    string? profile = planetInfo?.ProfileBackground.Replace("\\", "/"); ;
    string? back1 = $"url(\"{main}\")"; ;
    string? back2 = $"url(\"{profile}\")";

}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FantaxyWebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,100,1,200" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FantaxyWebApplication.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/planets/mainPage.css" asp-append-version="true" />

    <script src="../../Scripts/MicrosoftAjax.js" type="text/javascript"></script>
    <script src="../../Scripts/MicrosoftMvcAjax.js" type="text/javascript"></script>

</head>

<body>
    <style>
        #navPlanet {
            background: @Html.Raw(back1);
        }

        body {
            background: @Html.Raw(back2);
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
        }
    </style>

    <div id="mySidenav" class="sidenav">
        <div class="navdiv2">
            <a asp-controller="Profile" asp-action="MainProfile" asp-route-edit="false">
                <img class="ava" src="@userModel.Avatar" />
            </a>
        </div>
        <div class="navdiv">

            <div class="div-search">
                <a class="linkSearch" asp-controller="Main" asp-action="Users">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </a>

            </div>
            @if (userModel.planetList != null)
            {

                @foreach (var planet in userModel.planetList)

                {
                    if (planet != null)
                    {
                        <form asp-action="RedirectToPlanetPage" asp-controller="Main">
                            <img src="@planet.Avatar" class="planetItemList" />
                            <input type="hidden" value="@planet.IdPlanet" name="IdPlanet" />
                        </form>
                    }
                }
                }

            }
            <p></p>
        </div>
    </div>

    <!-- Используйте любой элемент для открытия боковой навигации -->
    <div class="spanOpenClick" style="font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 48;" onclick="openNav()">
        <span class="material-symbols-outlined">
            more_vert
        </span>
    </div>
    <!-- Добавить все содержимое страницы внутри этого div, если вы хотите, чтобы боковая навигация нажимала содержимое страницы вправо (не используется, если вы хотите, чтобы sidenav сидел поверх страницы -->
    <div id="main">
        <main role="main">

            <div class="div-link">
                <a class="link-profile" asp-controller="Profile" data-tooltip="Профиль" asp-action="PlanetProfile">
                    <img class="ava" style="height: calc(var(--index) * 3); width: calc(var(--index) * 3); border-radius: 50%" src="@profilePlanet.Avatar" />
                </a>

                @if (profilePlanet.Role == "Владелец" || profilePlanet.Role == "Администратор")
                {

                    <a class="link-profile" id="editPlanet" asp-controller="Planet" data-tooltip="Редактирование планеты" asp-action="EditPlanet">
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                    </a>
                }
                @if (profilePlanet.Role == "Модератор" || profilePlanet.Role == "Владелец" || profilePlanet.Role == "Администратор")
                {
                    <a asp-controller="Moderator" asp-action="BannedPlanetUser">
                        <span class="material-symbols-outlined" data-tooltip="Список заблокированных пользователей">
                            group
                        </span>
                    </a>
                }
                @if (userModel.Role == "Модератор" || userModel.Role == "Администратор" || userModel.Role == "Гл. Администратор")
                {
                    <form method="post" id="frostPlanetForm" >
                        <button type="button" class="-btn -dark" onclick="FreezePlanet()" style="background: #4278f5" data-tooltip="Разморозить/Заморозить сообщество">
                        <span class="material-symbols-outlined" >
                            ac_unit
                        </span>
                    </button>
                    </form>

                }
                @if (userModel.Role == "Администратор" || userModel.Role == "Гл. Администратор")
                {
                    <form method="post" id="frostPlanetForm">
                        <button type="button" onclick="BanPlanet()" class="-btn -dark" style="background: red" data-tooltip="Заблокировать сообщество">
                            <span class="material-symbols-outlined">
                                close
                            </span>
                        </button>
                    </form>
                }

            </div>



            <nav id="navPlanet">
                <div id="navContent">
                    <img id="planetAvatar" src="@planetInfo.Avatar" />
                    <h2 id="h2PlanetName"> @planetInfo.PlanetName </h2>
                    <label id="clikme"> [Нажми на меня] </label>
                </div>

                <div id="navLink">
                    <a asp-action="MainPage" asp-controller="Planet" asp-route-page="Main"> Главная страница </a>
                    <a asp-action="Posts" asp-controller="Planet"> Посты </a>
                    <a asp-action="ChatList" asp-controller="Chat"> Чаты </a>
                    <a asp-action="Users" asp-controller="Planet"> Пользователи </a>
                </div>
            </nav>

            <div class="mainDiv">
                <div class="contentDiv">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/navbar.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" ></script>
    <script type="module" src="~/js/planet/planet.js" charset="utf-8"></script>
    <script src="~/js/planet/paralaxEffect.js" charset="utf-8" ></script>
        <script>
        function BanPlanet() {
            if (confirm('Вы уверены, что хотите заблокировать планету?')) {
                $.ajax({
                    url: '/Moderator/BanPlanet',
                    type: 'POST',
                    contentType: 'application/json', // Add this line
                    success: function (response) {
                        if (response.success) {
                            alert(`Планета была заблокирована`);
                            history.back();
                        }
                        else {
                            alert(response.reason);
                        }

                    },
                    error: function (xhr, status, error) {
                        // Handle any errors that occur during the request
                        console.error('Error sending message: ' + error);
                    }
                });
            }
            else {
                console.log("User clicked Cancel.");
            }
        }

        function FreezePlanet() {
            if (confirm('Вы уверены, что хотите разморозить/заморозить планету?')) {
                $.ajax({
                    url: '/Moderator/PlanetFreeze',
                    type: 'POST',
                    contentType: 'application/json', // Add this line
                    success: function (response) {
                        if (response.success) {
                            alert(`Планета была заморожена`);
                            history.back();
                        }
                        else {
                            alert("Отмена действия");
                        }

                    },
                    error: function (xhr, status, error) {
                        // Handle any errors that occur during the request
                        console.error('Error sending message: ' + error);
                    }
                });
            }
            else {
                console.log("User clicked Cancel.");
            }
        }

        document.querySelectorAll('.planetItemList').forEach(img => {
            img.addEventListener('click', event => {
                event.target.parentNode.submit();
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>