@model EditModel
@{
    Layout = "~/Views/Main/_MainMaster.cshtml";

    ViewData["Title"] = "Fantaxy";

    string back1 = $"url(\"data:image/jpeg;base64,{(Convert.ToBase64String(Model.Main))}\")";
    string back2 = $"url(\"data:image/jpeg;base64,{(Convert.ToBase64String(Model.Profile))}\")";
 }
<link rel="stylesheet" href="~/css/profile.css" />

<style>
    body {
        display: flex;
        flex-direction: column;
        background: @Html.Raw(back1);
        background-attachment: inherit;
        background-repeat: no-repeat;
        background-size: cover
    }

    .profileImg {
        background: @Html.Raw(back2);
        background-attachment: inherit;
        background-repeat: no-repeat;
        background-size: cover
    }
</style>

<div class="profileImg second-div">
    <div class="div-edit">
        <form id="profileImgForm" method="post" asp-controller="Profile" asp-action="UploadProfile" enctype="multipart/form-data">
            <label class="material-symbols-outlined" data-tooltip="Измененить задний фон профиля" for="profileImgInput">
                account_circle
            </label>
            <input type="file" id="profileImgInput" name="Avatar" style="display: none;" accept="image/png, image/jpeg" />
        </form>

        <form id="mainProfileImgForm" method="post" asp-controller="Profile" asp-action="UploadMain" enctype="multipart/form-data">
            <label class="material-symbols-outlined" data-tooltip="Измененить задний фон" for="mainProfileImgInput">
                image
            </label>
            <input type="file" id="mainProfileImgInput" name="Avatar" style="display: none;" accept="image/png, image/jpeg" />
        </form>

        <form id="avaForm" method="post" asp-controller="Profile" asp-action="UploadAvatar" enctype="multipart/form-data">
            <label class="material-symbols-outlined" data-tooltip="Измененить аватар пользователя" for="avaFile">
                face
            </label>
            <input type="file" id="avaFile" name="Avatar" style="display: none;" accept="image/png, image/jpeg" />
        </form>
    </div>

    <div class="img">
        <img class="ava" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Avatar))" />
    </div>

    <h1> @Model.Name </h1>
    <div class="divrole">
        <h2> @Model.Role</h2>
    </div>
</div>
<div class="maincontent">
    <form asp-controller="Profile"
          asp-action="Save" asp-route-model="@Model">
        <h1 style="text-align: center; color: red;"> @ViewBag.Error </h1>
        <h1 style="text-align: center"> Имя </h1>
        <input class="-fillInput -input " type="text" name="Nickname" maxlength="32" placeholder="Ваш никнейм" />
        <h1 style="text-align: center"> Описание </h1>
        <textarea class="desc" name="Desc" maxlength="2000">@Model.Description</textarea>

        <input type="submit"
               class="btn -dark -big" value="Save" />
    </form>

</div>


<script>
    document.getElementById('profileImgInput').addEventListener('change', function () {
        document.getElementById('profileImgForm').submit();
    });




    document.getElementById('mainProfileImgInput').addEventListener('change', function () {
        document.getElementById('mainProfileImgForm').submit();
    });




    document.getElementById('avaFile').addEventListener('change', function () {
        document.getElementById('avaForm').submit();
    });




    document.addEventListener('DOMContentLoaded', function () {
        var avaImage = document.querySelector('.ava');
        var avaFileInput = document.getElementById('avaFile');

        avaImage.addEventListener('click', function () {
            avaFileInput.click();
        });
    });
</script>

