@model IEnumerable<SearchModel>

<form id="PlanetForm" method="post" asp-controller="Planet" asp-action="PlanetEntrance">
    @foreach (var planet in Model)
    {
        string back = $"url(\"{planet?.Profile.Replace("\\", "/")}\")";
        <div class="Item" id="@Html.Raw(planet.Id)" style="background: @Html.Raw(back) ">
            <img src="@planet.Avatar" />
            <input type="text" class="h4" readonly maxlenght="15" value="@Html.DisplayFor(modelItem => planet.Name)" />
            @{
                switch(planet.RoleOrStatus)
                {
                    case 1: // Публичный
                        <span class="roleStatus"> @Html.Raw(planet.RoleOrStatus) </span>
                        <span class="material-symbols-outlined" style="background: green">
                            groups
                        </span>
                        break;
                    case 2: // Частный
                        <span class="roleStatus"> @Html.Raw(planet.RoleOrStatus) </span>
                        <span class="material-symbols-outlined" style="background: red">
                            lock
                        </span>
                        break;
                }
            }
            <input type="hidden" name="PlanetId" value="@Html.Raw(@planet.Id)" />
            <input type="hidden" name="PlanetStatus" value="@Html.Raw(@planet.RoleOrStatus)" />
        </div>
    }
</form>