@model IList<ChatModel>
@using FantaxyWebApplication.Models.Entities;
@using Newtonsoft.Json;
@inject IHttpContextAccessor HttpContextAccessor
@{
    int? IdPlanet = HttpContextAccessor.HttpContext.Session.GetInt("PlanetId");
    var json3 = HttpContextAccessor.HttpContext.Request.Cookies[$"Profile_{IdPlanet}"];
    UserModel? profilePlanet = System.Text.Json.JsonSerializer.Deserialize<UserModel>(json3);
}

@foreach(var chat in Model)
{
    if (chat != null)
    {

        string back = chat.ProfileBackground.Replace("\\", "/");


        <div class="chat" style="background: @($"url(\"{@back}\")");
        background-size: cover;
        background-position: center;">
            <div class="chat-info">
                <h1> @chat.Name </h1>
                <p>
                    Кол-во участников:
                    <span> @chat.MembersCount </span>
                </p>
            </div>

            <div class="chat-btn">
                <form asp-action="Chat" asp-controller="Chat" asp-route-IdChat="@chat.IdChat">
                    <button class="-btn -light" data-tooltip="Войти в чат"
                    type="submit">
                        <span class="material-symbols-outlined">
                            login
                        </span>
                    </button>
                </form>
                @if (profilePlanet.Role == "Модератор" ||
                 profilePlanet.Role == "Администратор" || profilePlanet.Role == "Владелец" || profilePlanet.Role == "Куратор")
                {
                    <form asp-controller="Chat" asp-action="BanChat" method="post">
                        <input type="hidden" value="@chat.IdChat" name="IdChat" />
                        <button class="-btn -dark" type="submit" data-tooltip="Заблокировать">
                            <span class="material-symbols-outlined">
                                priority_high
                            </span>
                        </button>
                    </form>
                }



            </div>
        </div>
    }

}
